In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
customer_df = pd.read_csv("Customer_info.csv")
discount_df = pd.read_csv("Discount_info.csv")
marketing_df = pd.read_csv("marketing_info.csv")
sales_df = pd.read_csv("Onlinesales_info.csv")
tax_df = pd.read_csv("Tax_info.csv")

In [4]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1468 entries, 0 to 1467
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   고객ID    1468 non-null   object
 1   성별      1468 non-null   object
 2   고객지역    1468 non-null   object
 3   가입기간    1468 non-null   int64
dtypes: int64(1), object(3)
memory usage: 46.0+ KB

In [10]:
discount_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   월       204 non-null    object
 1   제품카테고리  204 non-null    object
 2   쿠폰코드    204 non-null    object
 3   할인율     204 non-null    int64
dtypes: int64(1), object(3)
memory usage: 6.5+ KB

In [13]:
marketing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      365 non-null    object
 1   오프라인비용  365 non-null    int64
 2   온라인비용   365 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 8.7+ KB

In [54]:
tax_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품카테고리  20 non-null     object
 1   GST     20 non-null     float64
dtypes: float64(1), object(1)
memory usage: 448.0+ bytes

In [55]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52924 entries, 0 to 52923
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   고객ID    52924 non-null  object
 1   거래ID    52924 non-null  object
 2   거래날짜    52924 non-null  object
 3   제품ID    52924 non-null  object
 4   제품카테고리  52924 non-null  object
 5   수량      52924 non-null  int64
 6   평균금액    52924 non-null  float64
 7   배송료     52924 non-null  float64
 8   쿠폰상태    52924 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.6+ MB